<div class="page-content">
    <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-sm-4" *ngFor="let stock of stocks">
                        <qr-code [value]="getStock(stock)"
                                 background="#9DD0FF" 
                                 foreground="#0084FF" 
                                 size="200">
                        </qr-code>
                        <p><b>{{stock.productName}} | {{stock.productLabel}}</b></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>