<H1 class="card-title" style="padding-bottom: 10px;padding-top: 10px;font-size: 30px;display: flex;align-content: center;justify-content: center;">Stock Manager</H1>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-left: 14px;margin-right: 14px;">
  <div class="container-fluid">
    <div>
      <div class="navbar-nav" style="font-size: 14px;font-family:Poppins,sans-serif">
        <a class="nav-link" routerLink="/inventory">Inventory</a>
        <a class="nav-link" routerLink="/barcodes">Barcodes</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>